*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgrey;
}

main {
    height: 100vh;
    width: 80%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}
